dask==2.5.2
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
decorator==4.4.0
distributed==2.5.2
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.1
MarkupSafe==1.1.1
fsspec==0.5.2
greenlet==0.4.15
gunicorn==20.0.4
h5py==2.9.0
HeapDict==1.0.1
html5lib==1.0.1
isort==4.3.21
itsdangerous==1.1.0
joblib==0.13.2
json5==0.8.5
pytz==2020.1
requests==2.24.0
jsonschema==3.0.2
MarkupSafe==1.1.1
idna==2.10
mpmath==1.1.0
msgpack==0.6.1
multipledispatch==0.6.0
networkx==2.3
notebook==6.0.1
numpy==1.20.3
numpydoc==0.9.1
olefile==0.46
openpyxl==3.0.0
packaging==19.2
pandas==1.2.4
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
pickleshare==0.7.5
psutil==5.6.3
py==1.8.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pyflakes==2.1.1
Pygments==2.4.2
pylint==2.4.2
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyreadline==2.1
pyrsistent==0.15.4
PySocks==1.7.1
pytest==5.2.1
pytest-arraydiff==0.3
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
python-dateutil==2.8.0
PyYAML==5.1.2
scikit-learn==0.21.3
seaborn==0.9.0
simplegeneric==0.8.1
soupsieve==1.9.3
statsmodels==0.10.1
urllib3==1.24.2
webencodings==0.5.1
six==1.15.0
Werkzeug==1.0.1