<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Model</title>
</head>
<body>
    
    <form action="/" method="POST" >
    <label for=""></label>
    <input type="text" name="peLe" id="">
    <input type="text" name="peWe" id="">
    <input type="text" name="seLe" id="">
    <input type="text" name="seWe" id="">
<input type="submit" value="Move">

</form> 
{% if pred %}
{{pred}}
{% endif %}
</body>
</html>